/* .order1 {
    width: 100%;
    height: 220px;
} */
/* ORDER 1 ****** */
.order1 {
    background: rgba(158, 7, 233, 0.96);
    width: 100%;
    color: white;
    height: auto;
}
.img-piz {
    height: 320px;
}
.order1-left {
    width: 100%;
}
.order-title {
    font-size: 25pt;
    font-weight: 800;
    text-align: right;
    margin-right: 120px;
}
.order-subtitle {
    font-size: 10pt;
    font-weight: 400;
    text-align: right;
    width: 400px;
    margin-right: 120px;
}
#btn-order1 {
    margin-right: 120px;
    width: 200px;
    border-radius: 60px;
    margin-bottom: 20px;
}
@media (max-width: 1200px) {
    .order1 {
        background: rgba(158, 7, 233, 0.96);
        width: 100%;
        color: white;
        height: auto;
    }
    .img-piz {
        height: 260px;
    }
}
@media (max-width: 900px) {
    .order1 {
        background: rgba(158, 7, 233, 0.96);
        width: 100%;
        color: white;
        height: auto;
    }
    .flex-res {
        flex-wrap: wrap;
    }
    .img-piz {
        height: 100px;
    }
    .order-title {
        font-size: 25pt;
        font-weight: 800;
        text-align: right;
        margin-right: 20px;
    }
    .order-subtitle {
        font-size: 10pt;
        font-weight: 400;
        text-align: right;
        width: 100%;
        /* margin-right: 90px; */
    }
}
/* ORDER2 ******** */
.order2 {
    background: rgba(233, 68, 7, 0.96);
    width: 100%;
    padding: 20px;
    color: white;
}
.order2-left {
    margin-left: 120px;
}
.order2-title {
    font-size: 25pt;
    font-weight: 800;
}
.order2-subtitle {
    font-size: 10pt;
    text-align: left;
    width: 300px;
}
.img-refri {
    margin: auto;
    margin-right: 20px;
    height: 200px;
}
@media (max-width: 900px) {
    .order2-left {
        margin-left: 0px;
    }
    .order2-title {
        font-size: 25pt;
        font-weight: 800;
    }
    .order2-subtitle {
        font-size: 10pt;
        text-align: left;
        width: 100%;
    }

}

/* ORDER3 ******** */
.order3 {
    background: rgba(158, 7, 233, 0.96);
    color: white;
    padding: 20px;
}
.img-acai {
    margin-left: 120px;
    height: 250px;
}
.order3-title {
    font-size: 25pt;
    margin-right: 120px;
    font-weight: 800;
}
.order3-subtitle {
    font-size: 10pt;
    text-align: left;
    margin-right: 120px;
    width: 300px;
}
@media (max-width: 900px) {
    .order3 {
        background: rgba(158, 7, 233, 0.96);
        color: white;
        padding: 20px;
    }
    .img-acai {
        margin-left: 50px;
        height: 200px;
    }
    .order3-title {
        font-size: 25pt;
        margin-right: 20px;
        font-weight: 800;
    }
    .order3-subtitle {
        font-size: 10pt;
        text-align: left;
        margin-right: 10px;
        width: 100%;
    }

}